<div class="ui celled grid">
  <div class="seven wide middle column">
    <div class="ui right floated black launch button">
      <i class="list layout icon"></i> Menu
    </div>
    <h2 class="ui header">
      <i class="list layout icon"></i>
      Dashboard
    </h2>
    <div class="ui tabular filter menu">
      <a class="item active" data-tab="unread">
        En desarrollo
        <div class="notification floating ui red circular label" data-notifier="stories" data-action="latest" data-content="unread" style="display:none;">0</div>
      </a>
      <a class="item" data-tab="saved">Siguiendo</a>
      <a class="item" data-tab="all">Relevante</a>
    </div>
    <div class="ui divided inbox selection list tab active" data-tab="unread">
      <% if !@stories.nil? %>
      <div class="container">
        <% @stories.each_with_index do | story, key | %>
          <%= link_to( story_path( story ), :data => { created: story.created_at.to_s }, :data => { :story => story.id }, :class => is_active( key ) + ' story item' )  do %>
            <div class="left floated ui star rating active">
              <i class="icon"></i>
            </div>
            <div class="right floated date"><%= time_elapsed( story.created_at ) %></div>
            <div class="description"><%= story.body[0..50] %>...</div>
          <% end %>
        <% end %>

      </div>
        <div class="ui icon buttons">
        <% if @stories.current_page <= 1 %>
          <%= link_to "#{stories_path()}?page=#{@stories.current_page}", :class => 'previous ui disabled button', :data => { :filter => 'false', :container => 'unread' } do  %>
            <i class="left arrow icon"></i>
          <% end %>
        <% end %>
        <% if @stories.current_page < @stories.total_pages %>
          <%= link_to "#{stories_path()}?page=#{@stories.current_page+1}", :class => 'next ui button', :data => { :filter => 'false', :container => 'unread' } do  %>
            <i class="right arrow icon"></i>
          <% end %>
        <% end %>
        </div>

      <% else %>
        No hay historias
      <% end %>
    </div>
    <div class="ui divided inbox selection list tab" data-tab="saved">
      <% if !@following.nil? %>
        <div class="container">
        <% @following.each_with_index do | follow, key | %>
          <%= link_to( story_path( follow.story ), :data => { story: follow.story.id, created: follow.story.created_at.to_s }, :class => is_active( key ) + ' story item' )  do %>
            <div class="left floated ui star rating active">
              <i class="icon"></i>
            </div>
            <div class="right floated date"><%= time_elapsed( follow.story.created_at ) %></div>
            <div class="description"><%= follow.story.body[0..50] %>...</div>
          <% end %>
        <% end %>
        </div>
        <div class="ui icon buttons">
        <% if @following.current_page <= 1 %>
          <%= link_to "#{stories_path()}?filter=following&page=#{@stories.current_page}", :class => 'previous ui disabled button', :data => { :filter => 'following', :container => 'saved' } do  %>
            <i class="left arrow icon"></i>
          <% end %>
        <% end %>
        <% if @following.current_page < @following.total_pages %>
          <%= link_to "#{stories_path()}?filter=following&page=#{@stories.current_page+1}", :class => 'next ui button', :data => { :filter => 'following', :container => 'saved' } do  %>
            <i class="right arrow icon"></i>
          <% end %>
        <% end %>
        </div>
      <% else %>
        No hay historias
      <% end %>
    </div>
    <div class="ui divided inbox selection list tab" data-tab="all">
      <p>Muy pronto!</p>
    </div>

  </div>
  <div class="nine wide right column" style="position: relative;">
    <div id="loader_story" class="ui active inverted "><div class="ui large text loader">Cargando Historia</div></div>
    <div class="story" style="position: relative;">
      <h1 class="ui header"><%= @first.body[0..50] %>...</h1>
      <div class="ui divider"></div>
      <%= link_to 'Ampliar', extend_story_path( @first ), :data => { 'fancybox-type' => "iframe"}, :class=>'fancy circular ui basic button' %>
      <%= link_to follower_path( @follower ), :data => { :story => @first.id, :following => ( @active == 'active' )? 'true':'false' }, :class=>'follow circular ui basic toggle button ' + @active do %>
        <i class="bullhorn icon"></i>
        <%= (@active == 'active')? 'Detener':'Seguir' %>
      <% end %>
      <button class=" notifier circular ui icon basic button" data-notifier="<%= @first.id %>" style="position:relative; <%= ( @active == 'active' )? '':'display:none;'  %>">
        <i class="refresh icon"></i>
        <div class="circular floating ui teal label" style="display: none;">0</div>
      </button>
      <div class="ui divider"></div>

      <div class="extends" data-story="<%= @first.id  %>">
        <% if @first_exts.count > 0 %>
          <% @first_exts.each do | extend | %>
            <div class="ui raised segment">
              <div class="ui ribbon label"><%= time_elapsed( extend.created_at ) %></div>
              <p><%= extend.body %> por <%= (@first.user.name.nil? == true )? 'Jhon Doe':@first.user.name  %></p>
            </div>
          <% end %>
        <% else %>
          <div class="ui raised segment">
            <div class="ui ribbon label"><%= time_elapsed( @first.created_at ) %></div>
            <p><%= @first.body %> por <%= (@first.user.name.nil? == true )? 'Jhon Doe':@first.user.name  %></p>
          </div>
        <% end %>
        <div class="paginate">
          <% if @first_exts.current_page < @first_exts.total_pages %>
             <%= link_to "Siguiente", "#{paginate_extends_story_path(@first)}?page=#{@first_exts.current_page+1}"  %>
           <% end %>
         </div>
      </div>

    </div>
  </div>
</div>


<% content_for :final_scripts do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js?v=2.1.5" %>
  <script src="<%= Rails.application.config.live_server %>socket.io/socket.io.js"></script>
  <script>

    //Set Up
    var current_tab = 'unread';
    var CURRENT_STORY = '<%= @first.id %>';

    var stories = 0;
    var stories_for_load = [];

    var extends_stories = 0;
    var extends_stories_for_load = [];

    var user = <%= current_user.id %>;
    var socket = io.connect( '<%= Rails.application.config.live_server %>' );
    socket.on( 'welcome', function( data ){
      console.log( 'connect', data );
      stories = 0;
      extends_stories = 0;
      //socket.emit( 'start', { msg: 'hola mundo' });
    })

    socket.on( 'new_extend', function( data ){
      extend = data;
      console.log( extend );

      var contains = _.contains( extend.followers, user );
      if ( contains ){
        extends_stories = extends_stories + 1; 
        extends_stories_for_load.push( extend.id );
        console.log( extends_stories_for_load );

        var notifier = $( '.notifier[data-notifier="' + extend.story.id + '"]' );
        var notifications = +notifier.find( '.label' ).text();
        var label = notifier.find( '.label' );
        label.text( notifications + 1 );

        if( label.is( ':hidden') ){
          label.show();
        }

      }
    })

    socket.on( 'new_story', function( data ){
      console.log( 'new_story', data );
      //var element = $( '#ui-story-notification' );
      var element = $( 'div[data-notifier="stories"]' );
      stories = stories + 1;
      element.text( stories );

      //added to array for load
      stories_for_load.push( data.id );

      if( element.is( ':hidden' )){
        element.show();
      }
    })

    //Ajax Setup
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    })


    //click for refresh a dashboard
    $( 'div.notification' ).click( function( event ){
      event.preventDefault();

      var content = $( event.currentTarget ).data( 'content' );
      var action = $( event.currentTarget ).data( 'action' );
      var notifier = $( event.currentTarget );

      $.ajax({
        url: '/stories/' + action,
        dataType: 'json',
        method: 'POST',
        data: { refresh: { stories: stories_for_load }},
        success: function( data ){
          console.log( data );
          if( data.status == true ){
            var stories = data.data;
            for( i in stories ){
              var html = '<a class="item" data-created="' + stories[ i ].created_at + '" href="/stories/80">' +
                '<div class="left floated ui star rating active">' +
                  '<i class="icon"></i>' +
                '</div>' +
                '<div class="right floated date">' + stories[i].time_elapsed + '</div>' +
                '<div class="description">' + stories[i].body.substr(0,55) + '...</div>'
              '</a>';

              $( html ).prependTo(  'div[data-tab="' + content + '"]'  );
            }

            stories = 0;
            stories_for_load = []
            notifier.hide();
          }
        }
      })
    })



    //load the latest extends
    $( '.notifier' ).click( function( event ){
      event.preventDefault();
      var notifier = $( this );
      var story = notifier.data( 'notifier' );
      console.log(  notifier.data( 'notifier' ) );

        $.ajax({
          url: '/stories/' +  story + '/latest',
          dataType: 'json',
          method: 'POST',
          data: { refresh: { stories: extends_stories_for_load  }},
          success: function( data ){
            console.log( 'the data', data );
            var exts = data.data;
            for( var i in exts ){
              var html = '<div class="ui raised segment">' +
                '<div class="ui ribbon label">' + exts[ i ].time_elapsed + '</div>' +
                '<p>' + exts[ i ].body + ' por ' + exts[i].user.name + '</p>' +
                + '</div>';
              $( html ).prependTo( '.extends[data-story="' + story + '"]' ); 
            }

            //set the array to null
            extends_stories_for_load = [];

            //hide de element
            var label = notifier.find( '.label' );
            label.hide();
            label.text( '0' );
          }
        })
    })

    function follow_callback( event ){
      event.preventDefault();

      var element = $( this );
      var story = element.data( 'story' );
      var following = element.attr( 'data-following' );


      if( following == 'true' ){
        $.ajax({
          url: element.attr( 'href' ),
          dataType: 'json',
          method: 'DELETE',
          success: function( data ){
            console.log( data );

            if( data.status == true ){
              $( '.notifier[data-notifier="' + story + '"]' ).hide();

              element.removeClass( 'active' );
              element.attr( 'data-following', 'false' );
              element.attr( 'href', '/followers/' );
              element.html( 'Seguir' );
              $( '<i class="bullhorn icon"></i>' ).prependTo( element );
            }else{
              console.log(  'Tuvimos un error' );
            }

          }
        })

      }else{
        $.ajax({
          url: '/followers',
          dataType: 'json',
          method: 'POST',
          data:  {follower: { user_id: user, story_id: story }},
          success: function( data ){
            if( data.status == true ){
              console.log( 'Status', data );

              $( '.notifier[data-notifier="' + story + '"]' ).show();

              element.attr( 'href', '/followers/' + data.object.id );
              element.addClass( 'active' );
              element.attr( 'data-following', 'true' );
              element.html( 'Detener' );
              $( '<i class="bullhorn icon"></i>' ).prependTo( element );
            }
          }
        })
      }
    }
    $( 'a.follow' ).on( 'click', follow_callback );

    function update_time( collection ){
      console.log( 'update time' );
      $( 'div.story' ).each( function( key, element ){
        //console.log( key, element );
        element = $( element );
        story_date = new Date(element.data( 'created' ));
        current_date = new Date();
        minutes = 1000 * 60;
        interval = current_date.getTime() - story_date.getTime();
        time_elapsed = Math.floor(interval / minutes);

        if( time_elapsed > 0 && time_elapsed <= 10 ){
          text_message = 'unos minutos';
        }

        if( time_elapsed > 10 && time_elapsed <= 45 ){
          text_message = time_elapsed + ' minutos';
        }

        if( time_elapsed > 45 && time_elapsed <= 90 ){
          text_message = 'aproximadamente 1 hora';
        }

        if( time_elapsed > 90 && time_elapsed <= 150 ){
          text_message = 'aproximadamente 2 hora';
        }

        if( time_elapsed > 150 && time_elapsed <= 210 ){
          text_message = 'aproximadamente 3 hora';
        }

        if( time_elapsed > 210 && time_elapsed <= 270 ){
          text_message = 'aproximadamente 4 hora';
        }

        if( time_elapsed > 270  ){
          text_message = 'mas de 5 horas';
        }

        element.find( '.time' ).text( text_message );
      } )
    }
    //var interval_stories = window.setInterval( update_time, 1000*60, 'stories' );
    //var interval_following = window.setInterval( update_time, 1000, 'following' );

    $( function(){
      $('.filter.menu .item')
        .tab();

      $('.ui.sidebar')
        .sidebar('attach events', '.launch.button');

      //Scroll CallBack
      function scroll_callback( json, opt ){
        var exts = json.data;
        if ( json.current_page <= json.total_pages ){

          for( var i in exts ){
            var html = '<div class="ui raised segment">' +
              '<div class="ui ribbon label">' + exts[ i ].time_elapsed + '</div>' +
              '<p>' + exts[ i ].body + ' por ' + exts[i].user.name + '</p>' +
              + '</div>';
            $( html ).appendTo( '.extends[data-story="' + CURRENT_STORY + '"]' ); 
          }
        }else{
          console.log( 'Ya termino el pager' );
        }
      }

      $('.extends').infinitescroll({
        navSelector  : ".extends div.paginate",
        nextSelector : ".extends div.paginate a:first",
        loadingText  : "Loading new posts...", 
        dataType: 'json',
        appendCallback: false,
        animate: true,
       }, scroll_callback );


      //parse href attribute for get valus
      function getUrlVars( url ){
        var vars = [], hash;
        var hashes = url.slice(url.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      }

      //Load new pages
      $( 'a.next' ).click( function( event ){
        event.preventDefault();


        var element = $( this );
        var container = element.data( 'container' );
        var filter = element.data( 'filter' );


        console.log( 'Load new stories' );
        $.ajax({
          url:  element.attr( 'href' ),
          method: 'GET',
          dataType: 'json',
          success: function( data ){
            console.log( 'data', data  );

            var html = '',
            stories = data.data,
            current_page = data.current_page,
            total_pages = data.total_pages;

            console.log( current_page, total_pages );

            if( current_page <= total_pages ){
              for( var i in stories ){
                html += '<a href="/stories/' + stories[ i ].id + '" data-created="' + stories[i].created_at  + '" class="item">' +
                  '<div class="left floated ui star rating active">' +
                    '<i class="icon"></i>' +
                    '</div>' +
                  '<div class="right floated date">' + stories[i].time_elapsed + '</div>' +
                  '<div class="description">' + stories[i].body.substr(0,50) + '...</div>' +
                  '</a>';
              }

              $( '.tab[data-tab="' + container + '"] .container' ).html( html );
              if( filter  ){
                element.attr( 'href', '/stories/?filter=following&page=' + ( current_page + 1 ) );
              }else{
                element.attr( 'href', '/stories/?page=' + ( current_page + 1 ) );
              }

              if( current_page == total_pages ){
                element.addClass( 'disabled' );
              }

              if( current_page > 1 ){
                element.prev().removeClass( 'disabled' );
                //$( 'a.previous' ).removeClass( 'disabled' );
              }

            }else{
              console.log( 'Ya todas las paginas se cargaron disabled button' );
              element.addClass( 'disabled' );
            }

          }
        })
      })


      $( 'a.previous' ).click( function( event ){
        event.preventDefault();

        var element = $( this );
        var container = element.data( 'container' );
        var filter = element.data( 'filter' );

        var loaded_page = +getUrlVars( element.next().attr( 'href' ) )[ 'page' ] - 1; 

        var url = ( filter != false )? '/stories/?filter=following&page=' : '/stories/?page=';
        console.log( loaded_page, 'loaded_page' );

        $.ajax({
          url:  url + (loaded_page - 1),
          method: 'GET',
          dataType: 'json',
          success: function( data ){
            console.log( 'data', data  );

            var html = '',
            stories = data.data,
            current_page = data.current_page,
            total_pages = data.total_pages;

            for( var i in stories ){
              html += '<a href="/stories/' + stories[ i ].id + '" data-created="' + stories[i].created_at  + '" class="item">' +
                '<div class="left floated ui star rating active">' +
                  '<i class="icon"></i>' +
                  '</div>' +
                '<div class="right floated date">' + stories[i].time_elapsed + '</div>' +
                '<div class="description">' + stories[i].body.substr(0,50) + '...</div>' +
                '</a>';
            }

            $( '.tab[data-tab="' + container + '"] .container' ).html( html );
            element.attr( 'href', url + ( loaded_page - 2 ) );
            element.next().attr( 'href', url + ( loaded_page ) );

            if( current_page < total_pages ){
              element.next().removeClass( 'disabled' );
            }

            if( current_page <= 1 ){
              element.addClass( 'disabled' );
            }

          }
        })
      })

      $( 'a.story' ).on( 'click', function( event ){
        event.preventDefault();
        var story = $( this ).data( 'story' );

        $( 'a.story.item' ).removeClass( 'active' );
        $( this ).addClass( 'active' );
        $( '#loader_story' ).addClass( 'dimmer' );

        $.ajax({ 
          url: '/stories/' + story,
          method: 'GET',
          dataType: 'json',
          success: function( data ){
            console.log( data );

            $( '#loader_story' ).removeClass( 'dimmer' );

            var story = data;
            var active = ( story.following != false )? 'active':'';
            var label = ( story.following != false )? ' Detener':' Seguir';
            var url_follower = ( story.following != false )? '/followers/' + story.following : '/followers';
            var following = ( story.following != false )? true : false;
            var visible = ( story.following != false )? 'display:inline;':'display:none;';

            var html = '<h1 class="ui header">' + story.body.substr(0,50) + '...</h1>' +
              '<div class="ui divider"></div>' +
              '<a href="/stories/' + story.id + '/new" data-fancybox-type="iframe" class="fancy circular ui basic button">Ampliar</a>' +
              '  <a href="' + url_follower + '" data-story="' + story.id + '" data-following="' + following + '" class="follow circular ui basic toggle button ' + active + '"><i class="bullhorn icon"></i>' + label + '</a>' +
              '  <button class=" notifier circular ui icon basic button" data-notifier="' + story.id + '" style="position:relative; ' + visible + '">' +
                '<i class="refresh icon"></i>' +
                '<div class="circular floating ui teal label" style="display: none;">0</div>' +
              '</button>' +
              '<div class="ui divider"></div>'; 

              var exts ='<div class="extends" data-story="' + story.id + '">';
              var items = story.extends.data;
              if( items.length > 0 ){
                for( var i in items ){
                  exts += '<div class="ui raised segment">' +
                    '<div class="ui ribbon label">' + items[i].time_elapsed + '</div>' +
                    '<p>' + items[i].body + '</p>' +
                  '</div>';
                }

                exts += '<div class="paginate">';
                if( story.extends.current_page < story.extends.total_pages ){
                  exts += '<a href="/stories/'+ story.id +'/extends?page='+ (story.extends.current_page + 1) +'">Siguiente</a>';
                }
                exts += '</div>';
              }else{

                exts += '<div class="ui raised segment">' +
                  '<div class="ui ribbon label">' + story.time_elapsed + '</div>' +
                  '<p>' + story.body + '</p>' +
                '</div>';
              }
              exts += '</div>';

            html += exts;
            html += '</div>';

            $( 'div.story' ).html( html );

            $( 'a.follow' ).on( 'click', follow_callback );

            $('.extends').infinitescroll({
              navSelector  : ".extends div.paginate",
              nextSelector : ".extends div.paginate a:first",
              loadingText  : "Loading new posts...", 
              dataType: 'json',
              appendCallback: false,
              animate: true,
             }, scroll_callback );

          }
        })

        console.log( 'click to load a new story', story )  ;
      } )


      //Fancybox for publish
      $(document).ready(function() {
        $(".fancy").fancybox({
          maxWidth  : 800,
          maxHeight : 600,
          fitToView : false,
          width   : '70%',
          height    : '70%',
          autoSize  : false,
          closeClick  : false,
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });

    })
  </script>
<% end %>
