<div class="ui page grid">
  <div class="four wide column">
    <div class="ui fluid vertical menu">
      <div class="header item">
        Relevante
        <span class="ui teal label"><sup>1</sup>New</span>
      </div>
      <div class="text item">
        <a>Join now</a> and save $10 on a pro membership!
      </div>
      <div class="item">
        <p><a>Join tomorrow</a> and save $5 on pro.</p>
      </div>
    </div>
  </div>
<div class="six wide column">
   <!-- j<h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
      Historias en curso!
      <div class="sub header">
        Administra tus historias en seguimiento.
      </div>
    </div>
  </h2> -->
  <div id="following_stories" class="ui fluid vertical menu">
    <div class="header item">
      Siguiendo
      <span id="ui-following-notification" class="ui teal label" style="display: none;"><sup>0</sup>New</span>
    </div>

    <div class="ui content">
    <% if !@following.nil? %>
      <% @following.each do |follow| %>
        <div class="following text item" data-follow="<%= follow.story.id %>">
          <p><%=  " #{follow.story.body}... Reportada por #{follow.story.user.name} hace #{time_elapsed follow.story.created_at}."   %></p>
          <div class="small ui buttons">
            <a class="ui active button">
              <i class="bolt icon"></i>
              Detener
            </a>
            <a href="#" class="follow ui button">
              <i class="volume up icon"></i>
              <sup>0</sup>
            </a>
            <%= link_to( extend_story_path( follow.story ), :class => 'ui button' ) do %>
              <i class="add sign icon"></i>
            <% end %>
          </div> 
        </div>
      <% end %>
    <% else %>
      No hay historias
    <% end %>
    </div>

 </div>
</div>


<div  class="six wide column">
  <div id="developing_stories" class="ui fluid vertical menu">
    <div class="header item">
      En desarrollo
      <span id="ui-story-notification" class="stories ui teal label" style="display: none;"><sup>0</sup>New</span>
    </div>
    <div class="ui content">
    <% if !@stories.nil? %>
      <% @stories.each do |story| %>
        <div class="story text item" data-created="<%= story.created_at %>">
          <p>
            <%= story.user.name %> reporto hace
            <span class="time"><%= time_elapsed( story.created_at ) %></span>:
            <%= story.body %>
          <div class="small ui buttons">
            <%= link_to extend_story_path( story ), class: 'follow ui button', data: { story: story.id } do %>
              <i class="bolt icon"></i>
              Seguir
            <% end %>
            <%= link_to extend_story_path( story ), class: 'ui button' do %>
              <i class="add sign icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      No hay historias
    <% end %>
    </div>
  </div>
</div>
</div>

<% content_for :final_scripts do %>
  <%= javascript_include_tag "underscore-min" %>
  <script src="http://localhost:8080/socket.io/socket.io.js"></script>
  <script>
    var stories = 0;
    var stories_for_load = [];

    var extends_stories = 0;
    var user = <%= current_user.id %>;
    var socket = io.connect( 'http://localhost:8080' );
    socket.on( 'welcome', function( data ){
      console.log( 'connect', data );
      stories = 0;
      extends_stories = 0;
      //socket.emit( 'start', { msg: 'hola mundo' });
    })

    socket.on( 'new_extend', function( data ){
      extend = data;
      //extend = JSON.parse( data );
      //console.log( extend.id, extend.followers );
      //var element = $( '#ui-following-notification' );
      var contains = _.contains( extend.followers, user );
      if ( contains ){
        console.log( 'alert me', data );
        extends_stories = extends_stories + 1; 
        //element.find( 'sup' ).text( extends_stories );

        /*if( element.is( ':hidden' ) ){
          element.show();
        }*/

        var element = $( 'div[data-follow="' + extend.story.id  + '"]' );
        var notifier = element.find( 'a.follow' ) 

        var notifications = +notifier.find( 'sup' ).text();
        notifier.find( 'sup' ).text( notifications + 1 ).show();
        notifier.addClass( 'blue' );
        console.log( element );
      }
    })

    socket.on( 'new_story', function( data ){
      console.log( 'new_story', data );
      var element = $( '#ui-story-notification' );
      stories = stories + 1;
      element.find( 'sup' ).text( stories );

      //added to array for load
      stories_for_load.push( data.id );

      if( element.is( ':hidden' )){
        element.show();
      }
    })

    //Ajax Setup
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    })


    //click for refresh a dashboard
    $( '.stories' ).click( function( event ){
      event.preventDefault();
      console.log( event );
      $.ajax({
        url: '/stories/latest',
        dataType: 'json',
        method: 'POST',
        data: { refresh: { stories: stories_for_load }},
        success: function( data ){
          console.log( data );
          if( data.status == true ){
            for( i in data.data ){
              var html = '<div class="story text item">' +
                '<p>' + data.data[ i ].user.name + ' reporta hace '  + data.data[ i ].time_elapsed + ': '  + data.data[ i ].body + '</p>' +
                '<div class="small ui buttons">' +
                  '<a class="follow ui button" data-story="' + data.data[i].id + '">' +
                    '<i class="bolt icon"></i>' +
                    'Seguir' +
                  '</a>' +
                  '<a class="ui button">' +
                    '<i class="add sign icon"></i>' +
                  '</a>' +
                '</div>' +
              '</div>';

              $( html ).prependTo(  '#developing_stories .content'  );
            }

            stories = 0;
            stories_for_load = []
            var element = $( '#ui-story-notification' );
            element.hide();
            console.log( 'render the news data' );
          }
        }
      })
    })

    $( '.follow' ).click( function( event ){
      event.preventDefault();
      var element = $( event.currentTarget );
      var story = element.data( 'story' );
      console.log( story );

      $.ajax({
        url: '/followers',
        dataType: 'json',
        method: 'POST',
        data: { follower: { user_id: user, story_id: story } },
        success: function( data ){
          if( data.status == true ){
            console.log( 'Status', data );
            element.addClass( 'active' );
            element.html( '<i class="bolt icon"></i>Detener' );
            var old_story = element.parents( '.story' );
            var story = old_story.clone();
            story.prependTo( '#following_stories .content' );
            old_story.remove();
            console.log( story );
          }
        }
      })

    })

    function update_time( collection ){
      console.log( 'update', collection );
      $( 'div.story' ).each( function( key, element ){
        //console.log( key, element );
        element = $( element );
        story_date = new Date(element.data( 'created' ));
        current_date = new Date();
        minutes = 1000 * 60;
        interval = current_date.getTime() - story_date.getTime();
        time_elapsed = Math.floor(interval / minutes);
        console.log( time_elapsed );

        if( time_elapsed > 0 && time_elapsed <= 10 ){
          text_message = 'unos minutos';
        }

        if( time_elapsed > 10 && time_elapsed <= 45 ){
          text_message = time_elapsed + ' minutos';
        }

        if( time_elapsed > 45 && time_elapsed <= 90 ){
          text_message = 'aproximadamente 1 hora';
        }

        if( time_elapsed > 90 && time_elapsed <= 150 ){
          text_message = 'aproximadamente 2 hora';
        }

        if( time_elapsed > 150 && time_elapsed <= 210 ){
          text_message = 'aproximadamente 3 hora';
        }

        if( time_elapsed > 210 && time_elapsed <= 270 ){
          text_message = 'aproximadamente 4 hora';
        }

        if( time_elapsed > 270  ){
          text_message = 'mas de 5 horas';
        }

        element.find( '.time' ).text( text_message );
      } )
    }
      var interval_stories = window.setInterval( update_time, 2500, 'stories' );
      //var interval_following = window.setInterval( update_time, 1000, 'following' );
  </script>
<% end %>
