<div class="center aligned ui page grid segment">
    <div class="six wide column">

      <div class="ui form segment">
      <h2 class="left aligned ui header">Iniciar Sesion</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="ui left labeled icon input">
            <%= f.email_field :email, :placeholder => "Su correo electronico", :autofocus => true %>
            <i class="user icon"></i>
          </div>
        </div>

        <div class="field">
          <div class="ui left labeled icon input">
            <%= f.password_field :password, :placeholder => "Su clave" %>
            <i class="lock icon"></i>
          </div>
        </div>

        <div class="field">
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        </div>

        <div class="left aligned field">
          <%= f.button :type => "submit", :class=>"ui teal right labeled icon button" do %>
            Iniciar Session
            <i class="right long arrow icon"></i>
          <% end %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

      </div>
    </div>
</div>

