<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user.email %>
</p>

<% @story.extends.each do |extend| %>
    <p><%= extend.body %></p>
<% end %>

<% debug @extends %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path( ) %>
