<div class="center aligned ui page grid segment">
  <div class="six wide column">

    <div class="ui form segment">

      <h2 class="left aligned ui header"><%= t 'Cree su clave' %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <div class="field">
    <div class="ui left labeled icon input">
      <%= f.password_field :password, :placeholder => "Clave" %>
      <i class="lock  icon"></i>
    </div>
  </div>

  <div class="field">
    <div class="ui left labeled icon input">
      <%= f.password_field :password_confirmation, :placeholder => 'Confirmar clave'%>
      <i class="lock  icon"></i>
    </div>
  </div>

        <div class="left aligned field">
          <%= f.button :type => "submit", :class=>"ui teal right labeled icon button" do %>
            Empezar ahora!
            <i class="right long arrow icon"></i>
          <% end %>
        </div>

<% end %>

    </div>
  </div>
</div>
