<!DOCTYPE html>
<html>
<head>
  <title>Reportaco</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="ui page grid">

    <div class="row">

      <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
          <a class="active item">
            <i class="home icon"></i> Home
          </a>
          <%= link_to(new_story_path, :class => 'item' ) do %>
            <i class="add icon"></i> Crear historia
          <% end %>
          <div class="right menu">
                <%= link_to( current_user.email , destroy_user_session_path, :method => :delete, :class => 'ui item') %>
            <div class="ui dropdown item">
              <%= current_user.email %> <i class="icon dropdown"></i>
              <div class="menu">
                <%= link_to( current_user.email , destroy_user_session_path, :method => :delete, :class => 'ui item') %>
              </div>
            </div>
          </div>
        </div>    

      </div>    
    </div>

  </div>


  <%= yield :aside %>
  <%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :final_scripts  %>

</body>
</html>
