<!DOCTYPE html>
<html>
  <head>
    <title>Reportaco</title>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" %>
    <%= stylesheet_link_tag    "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css?v=2.1.5" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="feed">

    <div class="ui large inverted vertical sidebar menu " >
      <a class="active item">
        <%= (current_user.name.nil? == true)? 'Jhon Doe': current_user.name %>
      </a>

      <a class="item">
        <i class="edit icon"></i> Perfil
      </a>

      <%= link_to( new_user_invitation_path(), :class => 'item' ) do %>
        <i class="users icon"></i> Invitar a un amigo
        <span class="ui label">11</span>
      <% end %>

      <%= link_to( new_story_path(), :data => { 'fancybox-type' => "iframe"}, :class => 'fancy item' ) do %>
        <i class="add icon"></i> Nueva
      <% end %>

      <a class="item">
        <i class="bookmark icon"></i> Mis Historias
      </a>
      
      <%= link_to( destroy_user_session_path, :method => :delete, :class => 'item')  do %>
        <i class="sign out icon"></i> Salir
      <% end %>
    </div>



    <%= yield %>


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :final_scripts  %>

  </body>
</html>
