<!DOCTYPE html>
<html>
  <head>
    <title>Reportaco</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class=" blue ui inverted segment" style="margin-bottom: 0;">

      <div class=" ui one column page grid">

        <div class="column">
          <div class="ui blue inverted menu">
            <div class="title item">
              <%= link_to  new_session_path(:user), :class => '' do %>
                Iniciar Sesion
              <% end %>
                <br />
            </div>

            <div class="right menu">
              <a href="" class="icon item">
                <i class="facebook icon"></i>
              </a>
              <a href="" class="icon item">
                <i class="twitter icon"></i>
              </a>
              <a href="" class="icon item">
                <i class="help icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <%= yield %>


    <div class="ui inverted teal page grid segment">
      <div class="ten wide column">
        <div class="ui three column stackable grid">
          <div class="column">
            <div class="ui header">Acerca de</div>
            <div class="ui inverted link list">
              <a class="item">Que es?</a>
              <a class="item">Como funciona?</a>
              <a class="item">QUienes somos?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide right floated aligned column">
        <h3 class="ui header">Contact Us</h3>
        <addr>
        Avenida Siempre Viva (Calle 86B #49A 41) <br>
        Barrio La Patria, Bogota <br>
        </addr>
        <p>+57 (304) 438-1074</p>
      </div>
    </div>

  </body>
</html>
